@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/*CSS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Main App styling*/

#root {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100%;
  height: 90%;
  margin: 30px;
  display: grid;
  grid-template-rows: 0.5fr 3fr 1fr;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  padding: 20px;
}
.App > div {
  background-color: #777777;
  padding: 10px;
  border-radius: 5px;
  background: linear-gradient(18.04deg, #2c2c2c -0.75%, #888888 100%);
  color: white;
}
/*WeatherInfo*/

.weather-info-container {
  grid-column: 1/2;
  grid-row: 2/4;
}

.weather-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(18.04deg, #2c2c2c -0.75%, #888888 100%);

  border-radius: 5px;
}

.weather-info-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.weather-info-head {
  display: grid;
  padding: 50px;
}

.weather-info-location,
.weather-info-weather,
.icon-container,
.weather-info-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info-location {
  font-size: 1.5rem;
}
.weather-info-weather {
  font-size: 1.2rem;
  text-transform: none;
  font-weight: lighter;
}

.weather-info-temperature {
  font-size: 2rem;
}

.weather-info-icons {
  width: 40px;
  height: auto;
}
.sun-time-container {
  display: flex;
  align-items: center;
}

.weather-info {
  border-bottom: white solid 1px;

  padding: 5px;
}

.other-info {
  border-top: white solid;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
  grid-gap: 5px;
  border-top: solid white 3px;
}
.other-info-data {
  position: relative;
  left: 10vw;
  bottom: 10px;
}

/*LiveFeed*/

.live-feed-container {
  grid-column: 2/3;
  grid-row: 1/3;
}

.iframe-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.iframe-container iframe {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

/*LocalNews*/

.local-news-container {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 181.5px;
}

.article-container {
  width: 250px;
  height: 150px;
  background-color: white;
  margin-left: 1rem;
  border-radius: 5px;
}
.articles {
  display: flex;
  flex-direction: row;
}
.article-image {
  position: absolute;
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
.article-title {
  position: relative;
  color: white;
  padding: 10px;
  height: 89%;
  background: linear-gradient(18.04deg, #88888800 -0.75%, #202020 100%);
  border-radius: 5px;
  transition: 0.5s;
}
.article-title:hover {
  cursor: pointer;
}

/*SearchBar*/
.search-bar-container {
  grid-column: 1/2;
}

.search-bar-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  margin: 20px;
  width: 300px;
  border-radius: 5px;
  border: rgb(245, 245, 245) solid 2px;
  background-color: rgb(245, 245, 245);
  transition: 0.5s;
}

.search-bar {
  background-color: transparent;
  border: none;
  color: #777777;
  font-size: 1.2rem;
  outline: none;
}

.search-button {
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 5px;
}

.search-button:hover {
  background-color: grey;
  transition: 0.5s;
  cursor: pointer;
  color: rgb(245, 245, 245);
}

.search-bar-container:hover {
  background-color: transparent;
  transition: 0.5s;
}

/*APP MOBILE*/

@media (max-width: 1600px) {
  #root {
    height: auto;
  }
  .App {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    height: auto;
  }
  .weather-info-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .live-feed-container {
    grid-column: 1/2;
    grid-row: 3/4;
    height: 500px;
  }
  .local-news-container {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media (max-width: 1500px) {
  .local-news-container {
    height: auto;
    width: auto;
  }
  .articles {
    display: grid;
  }
}
