@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/*CSS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Main App styling*/

#root {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  font-family: "Montserrat", sans-serif;
}

.App {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  grid-template-rows: auto 3fr 1fr;
  height: 100%;
  width: 100%;
}

/*WEATHER INFO*/
.weather-info-container {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(18.04deg, #2c2c2c -0.75%, #888888 100%);
  margin: 25px 0px 25px 25px;
  border-radius: 5px;
}

.weather-info-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.weather-info-head {
  display: grid;
  padding: 50px;
}

.weather-info-location,
.weather-info-weather,
.icon-container,
.weather-info-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info-location {
  font-size: 1.5rem;
}
.weather-info-weather {
  font-size: 1.2rem;
  text-transform: none;
  font-weight: lighter;
}

.weather-info-temperature {
  font-size: 2rem;
}

.weather-info-icons {
  width: 40px;
  height: auto;
}
.sun-time-container {
  display: flex;
  align-items: center;
}

.weather-info {
  border-bottom: white solid 1px;

  padding: 5px;
}

.other-info {
  border-top: white solid;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr;
  grid-gap: 5px;
  border-top: solid white 3px;
}
.other-info-data {
  position: relative;
  left: 17vw;
  bottom: 10px;
}

/*LIVE FEED*/
.live-feed {
  /*temp styling*/
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 25px;
}

/*iframe*/

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*LOCAL NEWS*/
.local-news {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px 25px 25px;
  background-color: rgb(61, 61, 61);
}

/*SEARCH BAR*/

.search-bar-container {
  grid-column: 1/3;
  height: 35px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  padding: 10px;
  margin: 20px;
  width: 500px;
  border-radius: 5px;
  border: rgb(245, 245, 245) solid 2px;
  background-color: rgb(245, 245, 245);
  transition: 0.5s;
}

.search-bar {
  background-color: transparent;
  border: none;
  color: #777777;
  font-size: 1.2rem;
  outline: none;
}

.search-button {
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 5px;
}

.search-button:hover {
  background-color: grey;
  transition: 0.5s;
  cursor: pointer;
  color: rgb(245, 245, 245);
}

.search-bar-container:hover {
  background-color: transparent;
  transition: 0.5s;
}
